/* VERSIONE MOBILE */
/* MEDIA QUERY PER TABLET */
@media screen and (max-width: 878px) {
  #section-navi {
    flex-flow: row wrap;
  }
  .container-album {
    flex-flow: row wrap;
  }
  #principal h1, #pricipal p {
    text-align: center;
  }
  .container-album {
    justify-content: center;
  }
  .album {
    width: calc(100% / 3);
  }
}
/* VERSIONE MOBILE SMARTHPHONE MAX-WIDTH: */
@media screen and (max-width: 565px) {
  nav {
    width: 70px;
  }
  #general-nav {
    flex-wrap: wrap;
  }
  #general-nav ul li {
    flex-wrap: wrap;
  }
  /* IMMAGINI */
  #logo-full {
    display:none;
  }
  #logo-small {
    display: block;
  }
  /* --------------- */
  #general-nav {
    flex-grow: 1;
  }
  #general-nav ul li {
    text-align: center;
  }
  #general-nav ul li span {
    display: none;
  }
  #general-nav-myplaylist {
    display: none;
  }
  #general-nav-userinfo ul li span, #general-nav-userinfo hr {
    display: none;
  }
  /* BANNER UPGRADE TO PREMIUM */
  #banner {
    width: calc(100% - 70px);
  }
  #principal h1, #pricipal p {
    text-align: center;
  }
  .container-album {
    justify-content: center;
  }
  .album {
    width: calc(100% / 2);
    margin-right: 20px;
  }
    /* PIE' DI PAGINA */
    /* CONTENITORE INFO SULLA TRACCIA IN ASCOLTO */
    /* #info-track img {
      width: 10%;
    } */
}
