/* REGOLE GENERALI PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.flex {
  display: flex;
}
body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  list-style-type: none;
}
ul li {
  padding: 7px 0;
}
a {
  text-decoration: none;
  color: white;
}
h1, h2, h3, h4, h5, h6, span, p {
  color: white;
}
/* REGOLE CORPO DELLA PAGINA */
main {
  height: calc(100vh - 90px);
}
/* BLOCCO NAVIGAZIONE DELLA WEB APP */
nav {
  background-color: #000;
  width: 220px;
  height: calc(100vh - 90px);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
/* BLOCCO NAVIGAZIONE GENERALE */
#general-nav {
  padding: 20px 0;
}
#general-nav ul {
  margin-top: 20px;
}
#general-nav .general-nav-img {
  width: 25px;
  height: 25px;
}
#general-nav .general-nav-img, #general-nav span {
  line-height: 24px;
  vertical-align: middle;
}
/* BLOCCO NAVIGAZIONE PLAYLIST PERSONALI*/
#general-nav-myplaylist {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* CONTENITORE FUNZIONE AGGIUNTA PLAYLIST */
#add-playlist {
  margin: 10px 0;
}
#add-playlist button {
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 25pt;
}
#add-playlist span {
  margin-left: 10px;
}
#add-playlist button, #add-playlist span {
  line-height: 40px;
  vertical-align: middle
}
/* ------------------------------------------- */
/* BLOCCO NAVIGAZIONE INFO UTENTE */
#general-nav-userinfo img, #general-nav-userinfo span {
  line-height: 25px;
  vertical-align: middle;
}
#general-nav-userinfo img {
  width: 25px;
  height: 25px;
}
/* SEZIONE PRINCIPALE */
section {
  background-color: #141922;
  flex-grow: 1;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}
/* BANNER */
#banner {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 220px);
  height: 90px;
  position: absolute;
}
#banner button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  width: 200px;
  height: 40px;
  margin: 25px 0;
  float: right;
  margin-right: 40px;
}
/* BLOCCO NAVIGAZIONE SECTION */
/* COLORE TESTO NAVI */
.grey {
  color: grey;
}
#principal p {
  color: grey;
  font-size: 10pt;
  font-weight: bold;
}
/* -------------- */
#principal {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
/* BARRA NAVIGAZIONE  */
#section-navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 40px;
}
#section-navi li {
  padding: 0 7px;
}
#section-navi li:hover, #section-navi span:hover {
  border-bottom: 2px solid #acff2f;
  color: white;
}
/* ---------------------------------- */
.container-album {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-bottom: 100px;
}
.album {
  width: 250px;
  height: 250px;
  padding: 25px;
  text-align: center;
}
.album img {
  width: 200px;
  height: 200px;
}
.album p {
  color: grey;
  font-size: 10pt;
}
.container-album:nth-of-type(3) .album img {
  border-radius: 50%;
}

/* PIE' DI PAGINA */
footer {
  background-color: #282828;
  flex-grow: 1;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
footer ul li {
  display: inline;
}
/* CONTENITORE INFO SULLA TRACCIA IN ASCOLTO */
#info-track img {
  width: 60px;
  height: 60px;
}
#info-track img, #text {
  display: inline-block;
  vertical-align: middle;
}
#text {
  padding-left: 10px;
}
#text p {
  font-size: 10pt;
}
#text p:first-child {
  font-weight: bold;
}
/* INLINE BLOCK */
#info-track, #like-add {
  display: inline-block;
}
/* ICONE DI LIKE E AGGIUNTA ALLA PLAYLIST */
#like-add {
  padding: 25px 0;
  margin-left: 30px;
  color: grey;
}
#like-add .fa-heart, #like-add .fa-folder {
  padding: 0 3px;
}
/* BOTTONI PLAYER E VOLUME */
.foot-button {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  color: white;
}
/* BARRA TEMPORANEA PER VEDERE A CHE PUNTO STA LA TRACCIA E IL VOLUME */
.temp {
  background-color: white;
  width: 20%;
  height: 5px;
  border-radius: 20px;
}
/* PLAYER MUSICALE */
.column {
  display: flex;
  flex-direction: column;
}
#player {
  align-self: center;
}
#player .fa-play-circle {
  font-size: 20pt;
}
#status {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
#status span {
  font-size: 8pt;
  font-weight: bold;
  padding: 0 7px;
  color: white;
}
#status span, #status-song {
  line-height: 23px;
  vertical-align: middle;
}
#status-song {
  background-color: grey;
  width: 300px;
  height: 5px;
  margin-top: 10px;
  border-radius: 20px;
}
/* BLOCCO CONTENITORE CONTROLLO VOLUME */
#volume {
  display: flex;
}
#volume-slider {
  background-color: grey;
  width: 90px;
  height: 5px;
  margin-left: 20px;
  align-self: center;
}
