/* REGOLE GENERALI PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-flex {
  display: flex;
}
body {
  background-color: #141922;
}
/* REGOLE LATO DELLA PAGINA */
#navi {
  background-color: #000;
  width: 20%;
  height: calc(100vh - 90px);
}
/* REGOLE CORPO DELLA PAGINA */
#browse {
  position: absolute;
  z-index: -1;
}
/* REGOLE PLAYER */
#player {
  background-color: #282828;
  width: 100%;
  height: 90px;
}
